<% content_for :title do %>
  Electric Six
<% end %>

<% content_for :col1 do %>
  <h1>"Fire in the disco, fire in the Taco Bell" - Electric Six</h1>
<% end %>

<% content_for :col2 do %>
  <h2>Coming soon to a Taco Bell near you is...</h2>
  <h3><strong>DISCO BALL TACOS</strong></h3>
<% end %>