<!doctype html>
<html>
  <head>
    <title>Yum Tum</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1>"Have you ever loved something so much that you wanted it alot?" - Paul Stanos</h1>
        <h2>I love lots of things lots, but not as lots as....</h2>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3><strong>YUM TUM</strong></h3>
        <p>The refreshing drinks for your tummy to feel better and loved</p>
      </div>
    </div>
  </body>
</html>