<% content_for :title do %>
  Yum Tum
<% end %>

<% content_for :col1 do %>
  <h1>"Have you ever loved something so much that you wanted it alot?" - Paul Stanos</h1>
  <h2>I love lots of things lots, but not as lots as....</h2>
<% end %>

<% content_for :col2 do %>
  <h3><strong>YUM TUM</strong></h3>
  <p>The refreshing drinks for your tummy to feel better and loved</p>
<% end %>