<!doctype html>
<html>
  <head>
    <title>Cats!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body class=".container">
  	<form>
  		<select name="country" class="form-control" value="<%= params['country'] %>">
		    <option value="us">US</option>
		    <option value="gb">GB</option>
		    <option value="be">BE</option>
		    <option value="br">BR</option>
		</select>
  		<input name="date" type="date" value="<%= params['date'] %>">
	  <button type="submit">Click for holidays!</button>
	</form>
	<% if @holidays.any? %>
		<h2>Holidaze</h2>
	  	<ol>
	  		<% @holidays.each do |holiday| %>
	  			<% holiday.each do |h| %>
	  				<li>
	  					<%= h["name"] %>
	  				</li>
	  			<% end %>
	  		<% end %>
	  	</ol>
	  </div>

	<% else %>
		<p>LEARN HOW TO SEARCH FOR THINGS!</p>
	<% end %>
  </body>
</html>