<% content_for :title do %>
  Cleen-X
<% end %>

<% content_for :col1 do %>
  <h1>HIPSTERS UNITE</h1>
  <h2>Have you ever wanted to wipe your nose but didn't want to use those stuffy corporate Kleenx's?</h2>
  <p>INTRODUCTING...........</p>
<% end %>

<% content_for :col2 do %>
  <h3><strong>Cleen-X</strong></h3>
  <p>For all y'all hipsters</p>
<% end %>