<% content_for :title do %>
  Electric Six
<% end %>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <h1>"Fire in the disco, fire in the Taco Bell" - Electric Six</h1>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2>Coming soon to a Taco Bell near you is...</h2>
    <h3><strong>DISCO BALL TACOS</strong></h3>
</div>