<!doctype html>
<html>
  <head>
    <title><%= yield_content :title %></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="container">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= yield_content :col1 %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%= yield_content :col2 %>
      </div>
		</div>
	</div>
  </body>
</html>